<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="TemplateEtudiant.html"
>
<head>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etudiant Edition</title>
</head>
<body>
<div layout:fragment="etudiant">
<main class="container mt-5">
    <form th:action="@{updateEtudiant}" method="post">
        <div class="form-group">
            <label class="form-label" hidden="hidden" for="id">etudiant ID : </label>
            <input class="form-control"  hidden="hidden" id="id" name="id" th:value="${etudiantView.id}">
        </div>
        <div class="form-group">
            <label class="form-label" for="nomEtudiant">nomEtudiant : </label>
            <input class="form-control" type="text" id="nomEtudiant" name="nomEtudiant" th:value="${etudiantView.nomEtudiant}">
        </div>
        <div class="form-group">
            <label class="form-label" for="Grade">Grade : </label>
            <input class="form-control" type="nember" id="Grade" name="Grade" th:value="${etudiantView.Grade}">
        </div>
        <div class="form-group">
            <label class="form-label" for="telephone">telephone : </label>
            <input class="form-control" type="nember" id="telephone" name="telephone" th:value="${etudiantView.telephone}">
        </div>
        <div class="form-group">
            <label class="form-label" for="address">address : </label>
            <input class="form-control" type="text" id="address" name="address" th:value="${etudiantView.address}">
        </div>
        <div class="form-group">
            <label class="form-label" for="email">email : </label>
            <input class="form-control" type="email" id="email" name="email" th:value="${etudiantView.email}">
        </div>
        <div class="form-group">
            <input class="form-control btn btn-primary" type="submit" value="Update">
        </div>
    </form>
</main>
</div>
</body>
</html>
