<!DOCTYPE html>
<html lang="en"    xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="TemplateMatiere.html"
>
<head>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matieres List</title>
</head>
<body>
<div layout:fragment="content">
<main class="container mt-5">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">nomMatiere</th>
            <th scope="col">volumeHoraire</th>
        </tr>
        </thead>
        <tbody>

            <tr th:each="matiere:${matieresVue}" >
                <td th:text=" ${matiere.id}"></td>
                <td th:text="${matiere.nomMatiere}"></td>
                <td th:text="${matiere.volumeHoraire}"></td>

                <td>
                    <a      class="btn bg-danger"
                            onclick="return confirm('Are you sure you want to delete?')"
                            th:href="@{/deleteMatiere(id=${matiere.id})}">
                        Delete
                    </a>
                </td>
                <td>
                    <a      class="btn bg-success"
                            th:href="@{/editMatiere(id=${matiere.id})}">
                        Edit
                    </a>
                </td>
            </tr>

        </tbody>
    </table>
</main>

</div>
</body>
</html>
